body {
  background-color : white;
}  

.singlePoke {
  border: 0.5px solid black;
  margin: 5px;
  grid-column: span 1;
  grid-row: span 1;
}

.grid {
  display: grid;
  height: 100%;  
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    'h'
    'p'
    'f';
  grid-gap: 3px;
  }

h1 {
  color: black;
  font-family: Helvetica, sans-serif;
  text-align: right;
  letter-spacing: 10px;
  word-spacing: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
/*   border: 1px solid black; */
  justify-content: center;
  padding: 3em;
}


.website-grid > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 275px;
  grid-area: p;
  text-align: center;
  font-size: 2vw;
  font-family: Helvetica, sans-serif;
}

footer {
  font-family: "Comic Sans Ms";
  font-size: 0.5vw;
  padding: 2%;
}

.height, .weight {
  font-size: 1vw;
}
